Repository pingSubhajit/letraz, pull requests merged in 2025-09, with the labels that each got.

#204 LET-133 | core: Implement user facing documentation with Basehub's connection for CMS
  app/docs/[slug]/page.tsx
  app/docs/components/code-block.tsx
  app/docs/components/docs-navigation.tsx
  app/docs/components/docs-search-button.tsx
  app/docs/components/hierarchical-page-item.tsx
  app/docs/components/table-of-contents.tsx
  app/docs/layout.tsx
  app/docs/page.tsx
  bun.lock
  components/DocsSearchDialog.tsx
  components/resume/ResumeActionsToolbar.tsx
  components/ui/button.tsx
  components/ui/card.tsx
  env.ts
  lib/basehub.ts
  package.json
  vitest.config.ts
Labels: Component, Layout, Core, Logic, Style

#214 LET-139 | bug: PostHog provider not being mounted, incidentally analytics are not being captured
  components/providers/PosthogProvider.tsx
Labels: bug, Core, Logic

#216 LET-140 | bug: Posthog doesn't associate user's email address with waitlist_submitted event
  components/Waitlist.tsx
  lib/analytics/index.ts
Labels: bug, Logic

#219 LET-141 | logic: One click account creation functionality from Rize
  app/(auth)/signup/[[...sign-up]]/SignUp.content.tsx
  app/(auth)/signup/[[...sign-up]]/SignUpPage.title.tsx
  app/(auth)/signup/[[...sign-up]]/page.tsx
  app/api/rize/status/route.ts
  app/app/layout.tsx
  app/docs/components/code-block.tsx
  app/signup/sso-callback/page.tsx
  components/auth/GithubAuthButton.tsx
  components/auth/GoogleAuthButton.tsx
  components/onboarding/About.tsx
  components/onboarding/AboutNextControl.client.tsx
  components/onboarding/useRizeBackfill.ts
  components/resume/JobDetailsModal.tsx
  components/resume/ResumeActionsToolbar.tsx
  components/resume/editors/PersonalDetailsEditor.tsx
  components/resume/editors/shared/ProficiencySlider.tsx
  components/ui/CornerRibbon.tsx
  components/ui/country-dropdown.tsx
  config.ts
  env.ts
  lib/config/api-client.ts
  lib/config/api-types.ts
  lib/linkedin/types.ts
  lib/resume/actions.ts
  lib/rize/actions.ts
  lib/rize/parser.ts
  lib/rize/rize.ts
  lib/rize/types.ts
  lib/user-info/actions.ts
  lib/user/metadata.ts
  middleware.ts
  public/logo.svg
  public/rize-logo.svg
Labels: Feature, Component, Layout, Logic, Style

#223 LET-142 | comp: Implement blog functionality with Basehub CMS and UI
  app/(website)/blog/[slug]/page.tsx
  app/(website)/blog/layout.tsx
  app/(website)/blog/page.tsx
  app/docs/[slug]/page.tsx
  app/docs/components/code-block.tsx
  bun.lock
  components/blog/BlogCategories.tsx
  components/blog/BlogPostCard.tsx
  components/blog/BlogPostContent.tsx
  components/blog/BlogPostMeta.tsx
  components/onboarding/Education.tsx
  components/onboarding/Experience.tsx
  components/resume/JobDetailsModal.tsx
  components/resume/ReorderableSections.tsx
  components/resume/ResumeActionsToolbar.tsx
  components/ui/hover-card.tsx
  components/ui/popover.tsx
  lib/basehub.ts
  lib/utils.ts
  package.json
Labels: bug, Feature, Component, Layout, Style

#222 LET-143 | bug: Application error on first load due to Algolia client initialization
  app/app/page.tsx
  components/dashboard/DashboardResumes.tsx
  components/dashboard/ResumeSearch.tsx
  components/skeletons/DashboardSearchSkeleton.tsx
  components/skeletons/ResumeCardSkeleton.tsx
Labels: bug
